@utility text-h1 {
  @apply text-5xl font-semibold -tracking-[0.02em];
}

@utility text-h2 {
  @apply text-4xl font-semibold -tracking-[0.02em];
}

@utility text-h3 {
  @apply text-2xl font-semibold -tracking-[0.01em];
}

@utility text-h4 {
  @apply text-2xl font-normal -tracking-[0.01em];
}

@utility text-heading-large {
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: 400;

  @media (width >= theme('breakpoint.md')) {
    font-size: 4.25rem;
  }
}

@utility text-heading-medium {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;

  @media (width >= theme('breakpoint.md')) {
    font-size: 3.5rem;
  }
}

@utility text-heading-small {
  font-size: 1.75rem;
  line-height: 1.2;
  font-weight: 400;

  @media (width >= theme('breakpoint.md')) {
    font-size: 2.5rem;
  }
}

@utility text-title-large {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;

  @media (width >= theme('breakpoint.md')) {
    font-size: 1.75rem;
  }
}

@utility text-title-medium {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 400;

  @media (width >= theme('breakpoint.md')) {
    font-size: 1.5rem;
  }
}

@utility text-body-medium {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.01em;
}

@utility text-body-small {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.01em;
}

@utility text-quote {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 400;

  @media (width >= theme('breakpoint.md')) {
    font-size: 1.75rem;
  }
}

@utility text-caption {
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 400;
}

@utility prose {
  @apply text-base leading-6;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-mt-8;
  }

  h1 {
    @apply text-heading-large;
  }

  h2 {
    @apply text-heading-medium mt-[1em] mb-[0.25em];
  }

  h3 {
    @apply text-heading-small mt-[1em] mb-[0.25em];
  }

  h4 {
    @apply text-title-large mt-[1em] mb-[0.25em];
  }

  h5,
  h6 {
    @apply text-title-medium mt-[1em] mb-[0.25em];
  }

  p {
    @apply my-[0.75em];
  }

  a {
    @apply hover:text-neutral-000 underline;
  }

  ul {
    @apply list-disc ps-6;
  }

  ol {
    @apply list-decimal ps-6;
  }

  li {
    @apply my-[0.25em];
  }
}

@utility enquote {
  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}
